.cage4 dl
{
	width: 220px;
	background: #eee;
	border: 1px #aaa solid;
	outline: none;
}
.cage4 dl dt
{
	height: 30px; line-height: 28px;
	color: #555; text-indent: 20px;
	background: #ccc;			
}
.cage4 span
{
	display: inline-block; width: 220px;
	position: relative; left: -20px;
	margin-left: 10px;
	cursor: pointer;
}
.cage4 dd
{
	margin-left: 20px;
	display: none;
}
.cage4 ul
{
	list-style: none;
	padding: 0px; margin: 8px;
}
.cage4 li
{
	padding: 2px;
}
.cage4 a
{
	color: #999;
	text-decoration: none;
}
.cage4 a:hover{ text-decoration: underline; }
#tri
{
	float: right;
	position: relative; top: 12px; right: 22px;
	width: 0px; height: 0px;
	border-width: 8px 8px 0px 8px;
	border-color: #555 transparent;
	border-style: solid;
	cursor: pointer;
}